* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #181818 !important;
}

/* App.js */
header {
  background-color: black;
  padding: 0.1rem;
  margin-bottom: 1.5rem;
}

/* NavBar.js */
.nav {
  display: flex;
  justify-content: space-around;
}
.nav h1 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 28px;
}
.search {
  display: flex;
  font-family: "Arial Narrow Bold", sans-serif;
}
.search input {
  background: transparent;
  border: 2px solid #181818;
  border-radius: 50px;
  color: #181818;
  font-family: inherit;
  font-size: 1rem;
  padding: 0rem 1.5rem;
  /* margin-right: 100px; */
}
.search input:focus {
  outline: 0;
}

/* .MovieList.js */
.MovieList {
  display: flex;
  flex-wrap: wrap;
}
/* .MovieCard.js */
.MovieCard {
  background-color: black;
  color: white;
  border-radius: 3px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 1);
  width: 200px;
  margin: 0.55rem;
}
.Movie-Info h2 {
  font-family: "Arial Narrow Bold", sans-serif;
  font-size: 20px;
}
.Movie-Info h4 {
  font-size: 13px;
  color: rgb(139, 139, 133);
}
.MovieCard img {
  width: 100%;
}
.MovieCard:hover {
  cursor: pointer;
  transform: scale(1.1);
}
/* AddMovie.js */
.plus {
  font-size: 40px;
  margin-right: 10px;
}

.plus:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.form-control input {
  outline: 0;
  border: 0;
}
.form-control {
  margin: 0.5rem 0;
  display: grid;
  grid-template-columns: 100px 1fr;
  align-items: center;
}

/* Rating.js */
.starSearch {
  font-size: 27px;
}
/* .Description.js */
.Description {
  background-color: black;
  color: white;
  border-radius: 3px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 1);
  width: 800px;
  margin: auto;
  margin-top: 30px;
  padding: 60px;
}
.Description h4 {
  font-family: "Arial Narrow Bold", sans-serif;
  font-size: 20px;
}
.Description p {
  font-size: 14px;
  color: rgb(139, 139, 133);
}
.Description iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.Description Button {
  background-color: rgb(139, 139, 133);
  font-size: 15px;
}
